<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title text-center color="white">
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Login as Thomas</ion-label>
      <ion-icon slot="end" name="trash" color="danger"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Login as Thomas</ion-label>
      <ion-icon slot="end" name="trash" color="danger"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-label>Login as Thomas</ion-label>
      <ion-icon slot="end" name="trash" color="danger"></ion-icon>
    </ion-item>




  </ion-list>
</ion-content>