@import "../../theme/variables";
app-users{
    .header-ios ion-toolbar:last-child,
    .header-md ion-toolbar:last-child{
        background: #318cf4;
        background: -moz-linear-gradient(45deg, #318cf4 0%, #505da2 100%);
        background: -webkit-linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
        background: linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#318cf4', endColorstr='#505da2',GradientType=1 );
    }
    ion-header{
        ion-toolbar{   
            ion-title{
                color:#fff;
                text-align: center;
                padding:10px;  
                .toolbar-title{
                    color:#fff;
                }                      
            }
            ion-buttons{
                ion-menu-button{
                    color:#fff;
                    ion-menu-toggle{
                        button{
                            ion-icon{
                                font-size:46px;
                            }
                        }
                    }
                }
            }                   
        }        
    }
    ion-list{
        ion-item{
            margin-bottom:1em;
        }
    }
}