<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col class="login-logo">
        <ion-img src="/assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <h2 class="text1">
          <!-- Enter One Time Password which sent to your provided email address or mobile number.  -->
          Login as thomas
        </h2>
        <div class="color-blue">
          <h3>View thomas account</h3>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div class="color-blue">
          <h2>
            One Time Password (OTP)
          </h2>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-input type="tel"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="tel"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="tel"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="tel"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="btns">
        <ion-button shape="round" color="primary" fill="outline" expand="full">Resend OTP</ion-button>
        <ion-button shape="round" color="primary" fill="solid" [href]="'/home'" expand="full">Login</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>