@import '../../theme/variables.scss';
app-login{
    background-color:var(--ion-color-white);
    a{
        &.link{
            background-color:transparent;
            color:var(--ion-color-text);
            font-weight: 600;
            font-size:24px;
            button{
                background-color:transparent;
                &.button-native{
                    background-color:var(--ion-color-transprant);
                    color:var(--ion-color-text);
                    font-weight: 600;
                }
            }
            @media(max-width:767.9px){
                font-size:18px;
            }
            
                        
        }
    }
    .login-logo{
        ion-img{
            max-width:450px; 
            width:36%;         
            margin:3em auto;
        }
    }
    .color-blue{  
        display: block;
        width:100%;
        text-align:center;
        h2{
            color:var(--ion-color-dark-blue);
            font-weight:700;
            margin: 3em auto;
            @media(max-width:767.9px){
                font-size:18px;
                margin:2em auto;
            }
        }   
    }

    ion-input{
        border-bottom:2px solid var(--ion-bdr-color);
        text-align:center;
    }

    .btns{
        margin-top:40px;
        ion-button{
            margin-bottom:20px;
        }
        @media(min-width:767.9px){  
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin-top:40px;
            
            .ion-color-primary{
                width:40%;
                margin:20px;
            }
        }
    }
    .text{
        @media(max-width:767.9px){
            font-size:18px;
        }
    }
    
}