<!-- Danger back button next to a menu button -->
<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Forms
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>



    <ion-grid>
      <ion-row>
        <ion-col text-center (click)="goToPage()">
          <ion-icon name="eye"></ion-icon>
        </ion-col>
        <ion-col size="8">
          Keep close to Nature's heart... and break clear away, once in awhile,
        </ion-col>
        <ion-col text-center>
          <ion-icon class="round" name="arrow-round-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="selected">
      <ion-row>
        <ion-col text-center (click)="goToPage()">
          <ion-icon name="eye"></ion-icon>
        </ion-col>
        <ion-col size="8">
          Keep close to Nature's heart... and break clear away, once in awhile,
        </ion-col>
        <ion-col text-center>
          <ion-icon class="round" name="arrow-round-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col text-center (click)="goToPage()">
          <ion-icon name="eye"></ion-icon>
        </ion-col>
        <ion-col size="8">
          Keep close to Nature's heart... and break clear away, once in awhile,
        </ion-col>
        <ion-col text-center>
          <ion-icon class="round" name="arrow-round-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col text-center (click)="goToPage()">
          <ion-icon name="eye"></ion-icon>
        </ion-col>
        <ion-col size="8">
          Keep close to Nature's heart... and break clear away, once in awhile,
        </ion-col>
        <ion-col text-center>
          <ion-icon class="round" name="arrow-round-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>