app-forms{
    .header-ios ion-toolbar:last-child,
    .header-md ion-toolbar:last-child{
        background: #318cf4;
        background: -moz-linear-gradient(45deg, #318cf4 0%, #505da2 100%);
        background: -webkit-linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
        background: linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#318cf4', endColorstr='#505da2',GradientType=1 );
    }
      ion-header{
          ion-toolbar{
            ion-title{
                color:#fff;
            }
          }
      }
    ion-grid{
        -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
        box-shadow: 0 4px 16px rgba(0,0,0,.12);
        padding:15px 0;
        margin:0 -16px;
        line-height: 1.75;
        &.selected{
            background-color:#f0f7ff;
        }
        ion-icon{
            color:#3fc923;
            width:30px;
            height:30px;
            &.round{
                color:#2881e7;
                position: relative;
                width:40px;
                height:40px;
                border-radius:50%;
                .icon-inner{
                    width:80%;
                    height:80%;
                }
                &:before{
                    background-color:#deeaf9;
                    position: absolute;
                    content:'';
                    display:block;
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    z-index: -1;
                    -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                    -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                }
            }
        }
    }
}