<ion-header>
    <ion-toolbar color="toolbar" class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="header-title">
        <h2>
          Thomas Edward
        </h2>
        <h4>
          Surgical Ward S5, Bed A1
        </h4>
      </div>
  
      <div class="ward-info">
        <ion-icon name="cog"></ion-icon>
        <h4>
         Status Update
        </h4>
      </div>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content padding>
    
  
  </ion-content>
  
  <ion-footer>
    <ion-toolbar text-center>
      <!-- <ion-title>Footer</ion-title> -->
      <ion-img src="/assets/images/medisparks.png"></ion-img>
    </ion-toolbar>
  </ion-footer>