<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col class="guest-title">
        <h2>Invite Guest</h2>        
        <span class="close-btn">
          <!-- <button ion-button [href]="'/users'"> -->            
          <button ion-button slot="right">
            <ion-icon name="close"></ion-icon>
          </button>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email Address</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Guest Type</ion-label>
      <ion-select>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-button class="invite-btn" shape="round" color="primary" fill="solid" expand="full">Invite</ion-button>

</ion-content>