app-invite-guests{
    ion-content{ 
        .guest-title{
            padding-right:30px;
            .close-btn{
                position: absolute;
                display:block;
                right:0;
                top:0;
                
                button{
                    background-color:transparent;
                    border:none;
                    color:#044084;
                    
                    ion-icon{
                        width:40px;
                        height:40px;
                    }
                }
            }
        }
        ion-list{
            ion-item{
                margin-bottom:1em;
            }
        }
    }   
}