<ion-app>
  <ion-split-pane>
    <ion-menu width="full">
      <ion-content>
        <ion-img src="/assets/images/menu-logo.png"></ion-img>

        <ion-item-group>
          <ion-item-divider color="light-blue">Episodes <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-item-divider>
          <ion-label>Selected: 02/09/2018 (Active)</ion-label>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider color="light-blue">Guests <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-item-divider>
          <ion-label>Invite Guests</ion-label>
        </ion-item-group>


        <ion-item-group>
          <ion-item-divider color="light-blue">Language <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-item-divider>
          <ion-label><span>English</span>
            <ion-button shape="round" slot="end" size="small" (click)="goToPage()">Change Language</ion-button>
          </ion-label>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider slot="end" color="light-blue">edward_thomas
            <ion-button slot="end">Logout</ion-button>
          </ion-item-divider>
        </ion-item-group>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>