<ion-content>


  <ion-icon name="close"></ion-icon>
  <ion-img src="/assets/shapes.svg"></ion-img>



  <ion-item-group>
    <ion-item-divider color="light">A <ion-icon slot="end" name="arrow-round-forward" margin-end="10px"></ion-icon>
    </ion-item-divider>
    <ion-item>Angola</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">A <ion-icon slot="end" name="arrow-round-forward" margin-end="10px"></ion-icon>
    </ion-item-divider>
    <ion-item>Angola</ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light">A <ion-icon slot="end" name="arrow-round-forward" margin-end="10px"></ion-icon>
    </ion-item-divider>
    <ion-item>Angola <ion-button shape="round" slot="end" size="small" (click)="goToPage()">Round Button</ion-button>
    </ion-item>
  </ion-item-group>

</ion-content>