<ion-header>
  <ion-toolbar color="toolbar" class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-title">
      <h2>
        Thomas Edward
      </h2>
      <h4>
        Surgical Ward S5, Bed A1
      </h4>
    </div>

    <div class="ward-info">
      <ion-icon name="cog"></ion-icon>
      <h4>
        Ward Info
      </h4>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/images/menu-logo.png"></ion-img>
        </ion-col>
        <ion-col size="8">
          Visitor allowed at this time.
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>

    <ion-item>
      <ion-icon name="football" item-start large></ion-icon>
      <h2>Museum of Football</h2>
      <p>11 N. Way St, Madison, WI 53703</p>
    </ion-item>

    <ion-item>
      <ion-icon name="wine" item-start large></ion-icon>
      <h2>Institute of Fine Cocktails</h2>
      <p>14 S. Hop Avenue, Madison, WI 53703</p>
    </ion-item>

    <ion-item>
      <ion-icon name="wine" item-start large></ion-icon>
      <h2>Institute of Fine Cocktails</h2>
      <p>14 S. Hop Avenue, Madison, WI 53703</p>
    </ion-item>

  </ion-card>

  <div class="flex">
    <div class="card notification">
      <ion-card-header>
        <ion-card-title class="card-title">
          <ion-icon name="cog"></ion-icon>
          Service Ordering
        </ion-card-title>
      </ion-card-header>
      <ion-badge slot="end" color="danger">20+</ion-badge>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <!-- <ion-title>Footer</ion-title> -->
    <ion-img src="/assets/images/medisparks.png"></ion-img>
  </ion-toolbar>
</ion-footer>