app-alerts{
    .header-ios ion-toolbar:last-child,
    .header-md ion-toolbar:last-child{
        background: #318cf4;
        background: -moz-linear-gradient(45deg, #318cf4 0%, #505da2 100%);
        background: -webkit-linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
        background: linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#318cf4', endColorstr='#505da2',GradientType=1 );
    }
      ion-header{
          ion-toolbar{
            ion-title{
                color:#fff;
            }
          }
      }
    ion-content{
        .flex{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            .card{
                flex:1 0 45%;
                max-width:45%;
                background-color:#eef5fd;
                border:1px solid #c9e2ff;
                padding:20px;
                margin:2.5%;
                -webkit-border-radius:7px;
                border-radius:7px;
                -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
                box-shadow: 0 4px 16px rgba(0,0,0,.12);
                h2{
                    display:block;
                    color:#044084;
                    font-size:16px;
                    font-weight:700;
                    margin-top:0px;
                }
                p{
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                }
                &:nth-child(even){
                    background-color:#fdeded;
                    border:1px solid #f8cccd;
                }
                @media(max-width:767.9px){
                    flex:1 0 100%;
                    max-width:100%;
                    margin: 2.5% 0;
                }
            }
        }
        
    }
}