<!-- Danger back button next to a menu button -->
<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color=""></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
     My Alerts
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="content">
<div class="flex">
  <div class="card">
    <h2>This is content, without any paragraph or header tags,
        within an ion-card-content element.</h2>
    <p>11.30 AM</p>
  </div>
  <div class="card">
      <h2>This is content, without any paragraph or header tags,
          within an ion-card-content element.</h2>
      <p>11.30 AM</p>
    </div>
    <div class="card">
        <h2>This is content, without any paragraph or header tags,
            within an ion-card-content element.</h2>
        <p>11.30 AM</p>
      </div>
      <div class="card">
          <h2>This is content, without any paragraph or header tags,
              within an ion-card-content element.</h2>
          <p>11.30 AM</p>
        </div>



</div>


</ion-content>