// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-app{
    ion-split-pane{
        ion-menu{           
            ion-content{
                .close-menu{
                    background-color:transparent;
                    color:#044084;
                    float:right;
                    ion-icon{
                        width:40px;
                        height:40px;
                    }
                }
                ion-img{
                    max-width: 90%;
                    margin: 20px;
                }
                ion-item-group{
                    ion-item-divider{
                        background-color:#d8e8fa;
                        color:#044084;
                        height: 46px;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size:14px;
                        ion-icon{
                            background-color:#fff;
                            border-radius:50%;
                            height:26px;
                            width:26px;
                            padding:5px;
                            margin:0 7px 0 0;
                            box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.15);
                        } 
                        &:last-child{
                            background-color:#fff;
                            border:none;
                            font-weight:400;
                            color:#222;
                            text-transform: initial;
                            ion-button{
                                margin-right:16px;
                            }
                        }                      
                    }
                    ion-label{
                        padding:15px;
                        span{
                            line-height: 25px;
                        }
                        ion-button{
                            float:right;
                            margin:0;
                        }
                    }
                }
                ion-item-group{
                    &:last-child{
                        position: absolute;
                        left: 0;
                        bottom:0;
                        width:100%;
                    }
                }
            }           
        }
    }
}