app-home{
  .header-ios ion-toolbar:last-child,
  .header-md ion-toolbar:last-child{
    background: #318cf4;
    background: -moz-linear-gradient(45deg, #318cf4 0%, #505da2 100%);
    background: -webkit-linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
    background: linear-gradient(45deg, #318cf4 0%,#505da2 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#318cf4', endColorstr='#505da2',GradientType=1 );
  }

  ion-header{
    &.header{
      ion-toolbar{        
        &.toolbar{
          ion-title{
            color:#fff;
            text-align: center;
            padding:10px;
            .sub-title{
              font-size:80%;
              margin-top:5px;
              font-weight:400;
              margin-bottom:0px;
            }
          }
          ion-buttons{
            ion-menu-button{
              color:#fff;
              height: 40px;
              ion-menu-toggle{
                button{
                  height: 40px;
                  ion-icon{
                    font-size:46px;
                  }
                }
              }
            }
          }
        }        
      }
    }
    
  }
  ion-content{
    .flex{
      display:flex;
      padding:20px;
      flex-wrap: wrap;
      .card{
        background-color:#d9eafe;
        color:#044084;
        flex:1 0 45%;
        max-width: 45%;
        margin:2.5%;
        -webkit-border-radius:7px;
        border-radius:7px;
        -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
                box-shadow: 0 4px 16px rgba(0,0,0,.12);
        ion-card-header{
          background-color:#d9eafe;
          -webkit-border-radius:7px;
                border-radius:7px;
          ion-card-title{
            &.card-title{
              color:#044084;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              @media(max-width:768px){
                font-size:18px;
              }
              ion-icon{
                background-color: #fff;
                color: #2881e7;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                padding: 8px;
                margin-right: 12px;
                -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
              }
            }
            
              
              
              
            }
          }
          ion-card-content{
            &.card-content{
              padding-top:0px;
              ul{
                &.card-list{
                  list-style:none;
                  margin:0;
                  li{
                    position: relative;
                    &:before{
                      position: absolute;
                      content:"";
                      display:block;
                      width:10px;
                      height: 10px;
                      border-radius:50%;
                      background-color:#86b5ed;
                      left: -24px;
                      top:5px;
                    }
                  }
                }
              }
            }
        }

        &.notification{
          background-color: #2881e7;
          overflow: initial;
          position: relative;
          ion-card-header{
            background-color: #2881e7;
            ion-card-title{
              &.card-title{
                color:#fff;
                text-transform: uppercase;
                justify-content: flex-start;
                align-items: center;
                display: flex;
                @media(max-width:768px){
                  font-size:18px;
                }
              }
              
              ion-icon{
                background-color: #fff;
                color: #2881e7;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 5px;
                margin-right: 12px;
                -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
                box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.15);
              }
            }
          }
          ion-badge{
            position: absolute;
            right: -12px;
            top: -12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 34px;
            text-align: center;
          }
        }
        @media(max-width:767.9px){
          flex:1 0 100%;
          max-width: 100%;
          margin:2.5% 0;
        }
        
      }
    }
    
      
      
      
      
      
   
    
  }
  ion-footer{
    &.footer{
      ion-toolbar{
        &:first-child{
          border:none !important;
        }
        
        ion-img{
          width:25%;
          max-width:200px;
          margin:0 auto;
        }
      }
    }
  }
  
 
}

