<ion-header>
  <ion-toolbar color="toolbar" class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="title">
          Thomas Edward
      <p class="sub-title">
          Surgical Ward S5, Bed A1
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="flex">
    <ion-card class="card">
        <ion-card-header>
            <ion-card-title class="card-title">
              <ion-icon name="chatbubbles"></ion-icon>
              System message
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul class="card-list">
              <li>New labs results ready</li>
              <li>Your allergies have been updated. please verify correctness</li>
            </ul>
          </ion-card-content>
        </ion-card>
    <ion-card class="card">
        <ion-card-header>
            <ion-card-title class="card-title">
              <ion-icon name="notifications"></ion-icon>
              My Reminders
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul class="card-list">
              <li>Today is your therapy session</li>
              <li>Important discussion with Dr. Andy Andre aboug Blood Report</li>
            </ul>
          </ion-card-content>
        </ion-card>
    <ion-card class="card notification">
        <ion-card-header>
            <ion-card-title class="card-title">
              <ion-icon name="calendar"></ion-icon>
              My Treatment Plan
            </ion-card-title>
          </ion-card-header>
          <ion-badge slot="end" color="danger">20+</ion-badge>
        </ion-card>
    <ion-card class="card notification">
        <ion-card-header>
            <ion-card-title class="card-title">
              <ion-icon name="cog"></ion-icon>
              Service Ordering
            </ion-card-title>
          </ion-card-header>
          <ion-badge slot="end" color="danger">20+</ion-badge>
        </ion-card>
  </div>

  
</ion-content>
<ion-footer>
  <ion-toolbar text-center>
    <ion-img src="/assets/images/medisparks.png"></ion-img>
  </ion-toolbar>
</ion-footer>